<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folder page</title>
</head>
<body>
    <form name="input" action="/create_folder" method="post">
        New folder name: <input type="text" name="new_folder" pattern="[^()/><\][\\\x22,;|]+" value=""/><br/>
        <input type="hidden" name="current_folder" value="{{ folder.path }}"/>
        <input type="submit" name="button" value="Add Folder"/>
    </form>
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        Upload File: <input type="file" name="file"/>
        <input type="hidden" name="cur_folder_path" value="{{ folder.path }}">
        <input type="submit" value="Submit file"/>
    </form>
    <p>{{ url }}</p>
        <a href="{{ folder.parent_folder_path }}">../</a>
            <ul>
                {% for sub_folder in folder.inner_folders %}
                    <li><a href="{{ sub_folder }}">{{ sub_folder.replace(folder.path, '') }}</a></li>
                    <form action="/delete_folder" method="post">
                        <input type="hidden" name="folder_path" value="{{ sub_folder }}">
                        <input type="hidden" name="cur_folder_path" value="{{ folder.path }}">
                        <input type="submit" name="button" value="Delete Folder">
                    </form>
                {% endfor %}
            </ul>
            <ul>
                {% for file in folder.files %}
                    <li>{{file.filename}} {{ file.type }} {{ file.size }} {{ file.created_at }}</li>
                    <form action="/download" method="get">
                        <input type="hidden" name="file_name" value="{{ file.filename }}">
                        <input type="hidden" name="folder_path" value="{{ folder.path }}">
                        <input type="submit" name="button" value="Download file">
                    </form>
                    <form action="/delete_file" method="post">
                        <input type="hidden" name="file_name" value="{{ file.filename }}">
                        <input type="hidden" name="folder_path" value="{{ folder.path }}">
                        <input type="submit" name="button" value="Delete file">
                    </form>
                {% endfor %}
            </ul>
</body>
</html>