<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropbox</title>
</head>
<body>

{% if my_user %}
    <p>Hello {{ my_user.email }} welcome to the application</p>
    <form action="/create_folder" method="post">
        New folder name: <input type="text" name="new_folder" pattern="[^()/><\][\\\x22,;|]+" value=""/><br/>
        <input type="hidden" name="current_folder" value="/"/>
        <input type="submit" name="button" value="Add Folder"/>
    </form>
    <form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        Upload File: <input type="file" name="file"/>
        <input type="hidden" name="cur_folder_path" value="/">
        <input type="submit" value="Submit file"/>
    </form>
    {% for sub_folder in folders %}
        <p> Folder: <a href="{{ sub_folder.path }}">{{ sub_folder.path }}</a></p>
        <form action="/delete_folder" method="post">
            <input type="hidden" name="folder_path" value="{{ sub_folder.path }}">
            <input type="hidden" name="cur_folder_path" value="/">
            <input type="submit" name="button" value="Delete Folder">
        </form>
    {% endfor %}
    <ul>
        {% for file in files %}
            <li>{{ file.filename }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Hello guest welcome to the application</p>
{% endif %}
<p>you can {{ url_string }} <a href={{ url }}>here</a></p>

</body>
</html>